In [2]:
library(tidyverse)

# Read lines and split into a list
sample_data <- readLines("day-2-input.txt") %>%
  strsplit("\\s+") %>%
  lapply(as.numeric)

# Convert to dataframe with 8 columns, padding with NA
sample_data <- data.frame(
  do.call(rbind, 
    lapply(sample_data, function(x) c(x, rep(NA, 8 - length(x))))
  )
) %>%
  setNames(paste0("X", 1:8))

In [3]:
sample_data

    X1 X2 X3 X4 X5 X6 X7 X8
1    6  8  9 11 14 12 NA NA
2   31 33 36 39 42 42 NA NA
3    5  6  7  9 11 13 17 NA
4    7  9 12 15 17 18 21 27
5   58 59 60 59 60 NA NA NA
6   59 60 57 60 61 63 61 NA
7   68 70 71 70 72 75 76 76
8   17 18 19 21 23 22 25 29
9   56 57 60 58 64 NA NA NA
10  10 11 12 12 15 NA NA NA
11  87 90 93 96 97 98 98 96
12  40 41 44 44 45 46 46 NA
13  72 75 75 78 79 83 NA NA
14  77 80 80 81 88 NA NA NA
15  43 45 48 49 50 54 56 58
16  50 51 54 58 57 NA NA NA
17  44 45 47 51 51 NA NA NA
18  46 47 50 54 57 60 63 67
19  12 15 17 21 24 29 NA NA
20  82 83 86 92 95 NA NA NA
21  18 21 26 29 27 NA NA NA
22  68 71 72 74 76 83 83 NA
23   7 10 17 20 22 26 NA NA
24  30 31 37 38 45 NA NA NA
25  24 21 22 24 25 26 27 NA
26  34 31 33 34 32 NA NA NA
27   4  3  5  6  8 10 13 13
28  18 17 20 23 25 29 NA NA
29  29 27 29 30 37 NA NA NA
30  61 58 61 58 59 62 NA NA
31  65 62 63 60 63 65 67 65
32  13 11 13 12 12 NA NA NA
33  25 23 20 23 26 29 31 35
34  58 55 52 54 61 NA NA NA
35  24 22 25 25 26 27 29 31
36  25 22 23 24 27 27 24 NA
37  10  8  8  9  9 NA NA NA
38  64 63 66 66 70 NA NA NA
39  72 71 74 74 77 83 NA NA
40  89 86 89 92 96 99 NA NA
41  89 87 88 92 93 96 97 95
42  87 85 88 92 93 93 NA NA
43  77 74 78 79 82 84 88 NA
44  42 39 42 43 47 53 NA NA
45  79 76 79 82 88 89 90 92
46  58 56 59 61 63 70 72 69
47  42 40 41 46 47 47 NA NA
48  55 53 56 58 64 65 69 NA
49  46 43 45 50 52 57 NA NA
50  67 67 68 69 70 73 74 75
51  61 61 63 65 62 NA NA NA
52  24 24 27 30 32 32 NA NA
53  30 30 31 32 33 36 40 NA
54  40 40 43 45 48 50 55 NA
55  62 62 64 66 64 66 67 NA
56  88 88 90 93 94 95 94 93
57  88 88 85 88 89 90 90 NA
58  69 69 70 73 75 72 73 77
59  10 10  7 10 12 17 NA NA
60  12 12 14 15 15 17 20 NA
61  14 14 16 17 19 19 22 20
62   7  7  8  8 11 11 NA NA
63  89 89 92 93 94 94 98 NA
64  85 85 86 89 89 96 NA NA
65  70 70 74 77 79 NA NA NA
66  86 86 90 93 94 93 NA NA
67  26 26 29 30 32 36 36 NA
68  85 85 86 90 94 NA NA NA
69  35 35 36 40 46 NA NA NA
70  61 61 68 70 72 73 NA NA
71  71 71 74 76 79 80 87 86
72  88 88 89 92 99 99 NA NA
73  22 22 28 30 32 35 39 NA
74  11 11 13 19 24 NA NA NA
75   4  8  9 11 12 15 NA NA
76  13 17 20 23 26 29 26 NA
77  64 68 70 71 74 74 NA NA
78  80 84 85 88 90 91 94 98
79  71 75 76 78 81 83 86 93
80  34 38 41 43 40 41 43 45
81   2  6  5  8 10  9 NA NA
82  25 29 31 29 29 NA NA NA
83  64 68 69 72 69 73 NA NA
84  19 23 25 24 25 32 NA NA
85  65 69 69 70 71 72 75 NA
86  84 88 91 91 94 96 97 95
87  86 90 93 93 93 NA NA NA
88  30 34 36 37 40 40 44 NA
89  69 73 76 78 78 79 84 NA
90  79 83 85 89 90 93 95 NA
91   4  8 11 12 16 13 NA NA
92  19 23 26 30 32 33 36 36
93  23 27 28 29 33 34 38 NA
94  10 14 18 20 21 26 NA NA
95  26 30 32 38 41 NA NA NA
96  61 65 72 74 75 76 74 NA
97  35 39 41 46 47 48 48 NA
98  35 39 40 41 43 46 53 57
99  57 61 68 70 75 NA NA NA
100 80 86 87 89 91 93 NA NA
101 59 64 67 68 71 69 NA NA
102 33 38 41 43 43 NA NA NA
103 55 60 61 64 65 66 67 71
104 41 48 50 51 52 57 NA NA
105 43 50 53 56 55 57 60 63
106 89 94 96 99 96 97 99 98
107 11 16 18 21 23 26 23 23
108 54 61 64 66 67 66 70 NA
109 28 34 35 37 36 38 40 45
110 47 54 55 58 60 60 62 64
111 77 84 87 89 90 90 92 90
112 21 26 27 27 29 29 NA NA
113 50 55 58 58 60 62 64 68
114 10 17 18 20 20 27 NA NA
115  8 14 18 19 22 23 25 27
116 31 38 41 42 46 49 48 NA
117 58 64 66 70 73 76 76 NA
118 26 32 35 38 42 46 NA NA
119 61 68 72 75 80 NA NA NA
120 21 26 28 30 33 38 39 NA
121 30 36 38 44 46 49 47 NA
122  2  7  8 14 14 NA NA NA
123 39 44 47 49 52 59 62 66
124 64 71 73 80 85 NA NA NA
125 76 75 74 72 73 NA NA NA
 [ reached 'max' / getOption("max.print") -- omitted 875 rows ]

In [15]:
trend <- sample_data |> 
  rowwise() |> 
  mutate(
    d = all(diff()),
    is_increasing = all(diff(c_across(starts_with("X"))) >= 0, rm.na = TRUE),
    is_decreasing = all(diff(c_across(starts_with("X"))) <= 0),
    test1 = all(abs(diff(c_across(starts_with("X")))) >= 1),
    test3 = all(abs(diff(c_across(starts_with("X")))) <= 3)
  )

: Error in `mutate()`:
ℹ In argument: `d = all(diff())`.
ℹ In row 1.
Caused by error in `diff.default()`:
! argument "x" is missing, with no default

In [12]:
trend

# A tibble: 1,000 × 12
# Rowwise:
      X1    X2    X3    X4    X5    X6    X7    X8 is_increasing is_decreasing test1 test3
   <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <lgl>         <lgl>         <lgl> <lgl>
 1     6     8     9    11    14    12    NA    NA FALSE         FALSE         NA    NA
 2    31    33    36    39    42    42    NA    NA NA            FALSE         FALSE NA
 3     5     6     7     9    11    13    17    NA NA            FALSE         NA    FALSE
 4     7     9    12    15    17    18    21    27 TRUE          FALSE         TRUE  FALSE
 5    58    59    60    59    60    NA    NA    NA FALSE         FALSE         NA    NA
 6    59    60    57    60    61    63    61    NA FALSE         FALSE         NA    NA
 7    68    70    71    70    72    75    76    76 FALSE         FALSE         FALSE TRUE
 8    17    18    19    21    23    22    25    29 FALSE         FALSE         TRUE  FALSE
 9    56    57    60    58    64    NA    NA    NA FALSE         FALSE         NA    FALSE
10    10    11    12    12    15    NA    NA    NA NA            FALSE         FALSE NA
# ℹ 990 more rows
# ℹ Use `print(n = ...)` to see more rows

In [ ]:
input_file <- here::here("day-2", "day-2", "day-2-input.txt")
input_file

In [ ]:
data <- read_delim("day-2-input.txt", 
                   delim = " ",
                   col_names = FALSE,
                   col_types = cols(.default = col_double()),
                   na = c("")) %>%
  setNames(paste0("X", 1:10))

In [ ]:
data